body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  color: #303030;
}

/* Navigation bar */
.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  height: 121px;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-align: center;
  margin-right: 80px;
}

#img-logo {
  margin-left: 40px;
  width: 181px;
  height: 70px;
}

.nav-links {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #303030;
  margin-left: 35px;
  font-weight: 500;
  white-space: nowrap;
}

#lang-toggle {
  background-color: #FFF3E0;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  color: #F37021; 
}

/* Homepage */
#img-container {
  position: relative;
  text-align: center;
}

#img-exterior {
  width: 100%;
  filter: brightness(70%);
}

#img-title {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  white-space: nowrap;
}

/* Mission, Vision */
#mission-vision-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 100px;
}

#mv-diagrams-container {
  background-color: #C4C4C4;
  width: 510px;
  height: 482px;
  margin-right: 40px;
}

#mv-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 410px;
  font-weight: 200;
}

/* Contact Us */
#contact-footer-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  background-color: #4F4F4F;
}

#cf-text {
 color: #ffffff; 
 font-weight: 200;
}

#img-trbc-map {
  width: 694px;
  height: 265px;
  margin-left: 70px;
}
